<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Swift_Tips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Swift_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3829D0261F21B6CE00D3F0B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3829D02E1F21B6CE00D3F0B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF7A7EFB1EC5716700EF7574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFAF8B2C1ECAB76700DF870E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
